<div class="container">
  <h1>Welcome everyone!!</h1>
  <p>Easy Rails on Kubernetes approach for Digital Ocean and a classic Rails stack: Puma, Redis, Sidekiq, Postgres, Action Cable, Webpacker. Helm 3 in production and docker-compose + dip (https://github…</p>
  <%= link_to "Check us out!", "#", class:"btn btn-primary" %>
</div>
